.site-header {
  background-color: var(--black-color);
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  > h1 {
    text-align: center;
    > a {
      text-decoration: none;
      color: var(--white-color);
      letter-spacing: 0.8ch;
    }
  }
}
